div#main{
	width: 1080px;
	margin:2% auto;
	background:white;
	align-items: center;
}

div#header {
	margin: auto;
	margin-top: 100px;
	width: 1000px;
	height: 100px; 
	background: rgb(50, 123, 240);
	align-items: center;
}

.txt{
	color: white;
	font-family: arial;
	font-size: 20;
	padding: 40px 0px 0px 250px;
}


div#general{
	margin: auto;
	margin-top: 50px; 
	width: 800px;
	height: 800px; 
	background: white;
}

h1,h2,h3,p,li, ul, strong {font-family: arial; font-size: 18}